<table class="table">
    <thead>
      <tr>
        <td></td>
        <td>Task</td>
        <td>Due Date</td>
        <td>Note</td>
        
      </tr>
    </thead>
    <tbody>
      
        <td><input type="checkbox" name="checkbox"></td>
        
        <td><%= @task.name %></td>
        <td><%= @task.due_date %></td>
        <td><%= @task.note %></td>
        
      </tr>
      
    </tbody>
  </table>